{% extends 'blog/index.html' %}
{% load static %}

{% block content %}

<div class="nav has-background-white">
    <div id="container" class="container">
        <div class="header-categories">
            {% for item in category %}
                <p><a class="header-category" href="{{item.get_absolute_url}}">{{item.title}}</a></p>
            {% endfor %}
        </div>
    </div>
</div>   


<div class="slider">
    
    {% for top in popular %}
    <div class="slider__item">
        <a href="{{top.get_absolute_url}}">   
            <img data-lazy ="" src="{{ top.image.url }}" alt="">
            <div class="title">
                <h2>{{top.title}}</h2>
                <p>{{top.preview}}</p>
            </div>
        </a>    
    </div>
    {% endfor %}
</div>

<section  class="section">
    <div id="container" class="container">
        <div class="news-2box">
            {% for recent in post %}
            <div id="news2" class="columns"> 
                <a href="{{recent.get_absolute_url}}">
                    <div  class="column box ">
                        <p style="font-size: 14px;">{{recent.date}}</p>
                        <img style="width: 552px; height: 310px;" src="{{recent.image.url}}" alt="">
                        <h1 class="subtitle">{{recent.title}}</h1>
                        <p>{{recent.description}}</p>
                    </div> 
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>   

<section class="section">
    <div id="container" class="container">
        <div id="content" class="news-3box">
            {% for news3 in page.object_list %}
            <div id="news3" class="columns">
                <a href="{{news3.get_absolute_url}}">
                    <div class="column box ">
                        <p style="font-size: 14px;">{{news3.date}}</p>
                        <img src ="{{news3.image.url}}">
                        <h1 class="subtitle">{{news3.title}}</h1>
                        <p>{{news3.description}}</p>
                    </div>
                </a> 
            </div>
            {% endfor %}
        </div>
    </div>
    <nav style="margin-top: 20px;" class="pagination is-centered" role="navigation" aria-label="pagination">
        {% if page.has_previous %}
        <a href="{% url 'index' %}?page={{ page.previous_page_number }}" class="pagination-previous">Previous</a>
        {% endif %}
        <ul class="pagination-list">
          <li class="pagination-link">{{page.number}}</li>
        </ul>
        {% if page.has_next %}
        <a href="{% url 'index' %}?page={{ page.next_page_number }}" class="pagination-next">Next page</a>
        {% endif %}
      </nav>
</section>    

<footer id="footer" class="footer">
    <div id="container" class="container">
        <div class="column">
            <div class="footer_logo">
                <h1 style="font-family: 'Oswald', sans-serif;" ><a href="">NOX</a></h1>
            </div>
            <div class="footer_links">
                <a href=""><i id="facebook" class="fab fa-facebook-f"></i></a>
                <a href=""><i id="twitter" class="fab fa-twitter"></i></a>
                <a href=""><i id="instagram" class="fab fa-instagram"></i></a>
                <a href=""><i id="telegram" class="fab fa-telegram-plane"></i></a>
            </div>
            
            <div class="footer-categories">
                {% for sitem in category %}
                <p><a class="footer-category" href="{{sitem.get_absolute_url}}">{{sitem.title}}</a></p>
                {% endfor %}
            </div>
            
        </div>
    </div>
</footer>


<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'jquery/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'slick/slick.min.js' %}"></script>
{% endblock %}
