{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
   
</head>

<style>
    #search_input{
        max-width: 53px;
        transition: all .3s ease-in-out;
    }

    #search_input:hover{
        max-width: 203px;
    }

    .header_logo{
    margin: 0 auto;
    transform: translate(2em, -2em);
}

</style>

<body>
<header class="header has-background-black">
<div id="container" class="container">
    <div class="column is-flex">
        <div class="header_links">
            <a href=""><i id="facebook" class="fab fa-facebook-f"></i></a>
            <a href=""><i id="twitter" class="fab fa-twitter"></i></a>
            <a href=""><i id="instagram" class="fab fa-instagram"></i></a>
            <a href=""><i id="telegram" class="fab fa-telegram-plane"></i></a>
        </div>
        <div style="font-family: 'Oswald', sans-serif;" class="header_logo">
            <h1><a href="{% url 'index' %}">NOX</a></h1>
        </div>
        <form class="is-flex" action="{% url 'search_results' %}" method="GET">
            <input id="search_input" type="text" name="search" class="input mt-4 mr-1">
            
            <button id="btn" class="button mt-4"><i class="fas fa-search"></i></button>
        </form>
        <div style="margin: 16px 0px 0px 25px; height: 10px;" class= "buttons is-flex">
                
            <a class="button is-primary" href="{% url 'register' %}"><i class="fas fa-user-plus"></i></a> 
            </a>
            <a href="{% url 'login' %}" class="button is-link">
                <i class="fas fa-sign-in-alt"></i>
            </a>
            <a href="{% url 'logout' %}" class="button is-danger">
                <i class="fas fa-sign-out-alt"></i>
            </a>
        </div>
    </div>
    
</div>
</header>


{% block content %}



{% endblock %}


<div class="foot">

</div>

<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'jquery/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'slick/slick.min.js' %}"></script>


</body>
</html>