{% extends 'blog/index.html' %}
{% load static %}

{% block content %}

<style>
    .footer h2 {
        text-transform: uppercase;
        font-family: 'Oswald', sans-serif;
        font-size: 25px;
        text-align: center;
        color: #888888; 
        font-weight: 500; 
        transform: translate(-0.5em); 
        margin-top: 20px;
        transition: color .2s ease-in-out;
    }
    .footer h2:hover{
        color: #ffff;
    }
</style>

<div class="nav has-background-white">
    <div id="container" class="container">
        <div class="header-categories">
                <p style="font-size: 25px; font-family: 'Oswald', sans-serif; text-transform: uppercase; font-weight: 500;" >{{post.category}}</p>
        </div>
    </div>
</div>



<section  class="section">
    <div id="container" class="container">
        <div id="" class="columns"> 
            <div  class="column box ">
                <p style="font-size: 14px;">{{post.date}}</p>
                <img src="{{post.image.url}}" alt="">
                <h1 style="font-size: 28px; font-family: 'Oswald', sans-serif; color: #222222;" class="subtitle">{{post.title}}</h1>
                <p style="font-size: 18px; font-family: 'Roboto', sans-serif; color: #555555;">{{post.description}}</p>
            </div> 
        </div>
        <div class="columns">
            <div class="column box">
                <form class="form" action="{% url 'leave_comment' post.slug %}" method="POST">
                {% csrf_token %}
                    <textarea class="textarea" id="comment" name="comment_text" cols="10" rows="1" aria-required="true" placeholder="Оставьте комментарий"></textarea>
                    <br>
                    <button class="button is-primary" type="submit">Leave your comment</button>
                    <button style="margin-bottom: 15px;" class="button is-primary" type="reset">Cancel</button>
                    
                    {% for comment in post.comments.all %}
                        <p style="margin-left: 6px;" class=""><i>{{comment.author_name}}:</i>{{comment.comment_text}}</p>
                    {% endfor %}
                </form>
            </div>
        </div>
     </div>
</section>   

<footer id="footer" class="footer">
    <div id="container" class="container">
        <div class="column">
            <div class="footer_logo">
                <h1 style="font-family: 'Oswald', sans-serif;"><a href="{% url 'index' %}">NOX</a></h1>
            </div>
            <div class="footer_links">
                <a href=""><i id="facebook" class="fab fa-facebook-f"></i></a>
                <a href=""><i id="twitter" class="fab fa-twitter"></i></a>
                <a href=""><i id="instagram" class="fab fa-instagram"></i></a>
                <a href=""><i id="telegram" class="fab fa-telegram-plane"></i></a>
            </div>
            <a href="{% url 'index' %}"><H2>Home</H2></a>

        </div>
    </div>
</footer>


{% endblock %}