{% extends 'index.html'%}

{% load static%}

{% block content %}

<style>
    .footer h2 {
        text-transform: uppercase;
        font-family: 'Oswald', sans-serif;
        font-size: 25px;
        text-align: center;
        color: #888888; 
        font-weight: 500; 
        transform: translate(-0.5em); 
        margin-top: 20px;
        transition: color .2s ease-in-out;
    }
    .footer h2:hover{
        color: #ffff;
    }
    .section h5{
        font-family: 'Roboto', sans-serif;
        margin: 8px 0px;
    }

    .section button{
        font-family: 'Roboto', sans-serif;
        color: #fff;
        background-color: #0BE6AF;
        border-color: #0BE6AF;
        transition: background .2s ease-in-out , color .2s ease-in-out;
    }
    .section button:hover{
        background-color: #09dba7;
        border-color: #09dba7 ;
        color: #fff;
    }
</style>

<div class="nav has-background-white">
    <div id="container" class="container">
        <div class="header-categories">

                <p style="font-size: 25px; font-family: 'Oswald', sans-serif; text-transform: uppercase; font-weight: 500;" >Register</p>

        </div>
    </div>
</div>

<div class="section">
    
    <div class="columns box is-centred">
        <div class="column is-8">
        
        
            <form action="{% url 'register' %}" method="POST">
            {% csrf_token %}
                

                <h5>{{form.username.label}}</h5>
                <span>{{form.username}}</span>
    
    
                <h5>{{form.fullname.label}}</h5>
                <span>{{form.fullname}}</span>
                
            
                
                <h5>{{form.email.label}}</h5>
                <span>{{form.email}}</span>
    
                <h5>{{form.password1.label}}</h5>
                <span >{{form.password1}}</span>
    
                <h5>{{form.password2.label}}</h5>
                <span>{{form.password2}}</span>
                 <br><br>
                <button class="button" type="submit">Sign up</button>

            </form>
        </div>
    </div>
</div>
<footer id="footer" class="footer">
    <div id="container" class="container">
        <div class="column">
            <div class="footer_logo">
                <h1 style="font-family: 'Oswald', sans-serif;"><a href="{% url 'index' %}">NOX</a></h1>
            </div>
            <div class="footer_links">
                <a href=""><i id="facebook" class="fab fa-facebook-f"></i></a>
                <a href=""><i id="twitter" class="fab fa-twitter"></i></a>
                <a href=""><i id="instagram" class="fab fa-instagram"></i></a>
                <a href=""><i id="telegram" class="fab fa-telegram-plane"></i></a>
            </div>
            <a href="{% url 'index' %}"><H2>Home</H2></a>

        </div>
    </div>
</footer>


{% endblock %}