{% extends 'blog/index.html' %}
{% load static %}

{% block content %}

<style>
    .footer h2 {
        text-transform: uppercase;
        font-family: 'Oswald', sans-serif;
        font-size: 25px;
        text-align: center;
        color: #888888; 
        font-weight: 500; 
        transform: translate(-0.5em); 
        margin-top: 20px;
        transition: color .2s ease-in-out;
    }
    .footer h2:hover{
        color: #ffff;
    }
</style>

<div class="nav has-background-white">
    <div id="container" class="container">
        <div class="header-categories">

                <p style="font-size: 25px; font-family: 'Oswald', sans-serif; text-transform: uppercase; font-weight: 500;" >Search results</p>

        </div>
    </div>
</div>


<section  class="section">
    <div id="container" class="container">
        <div class="news-2box">
            {% for srch in search_obj %}
            <div id="news2" class="columns"> 
                <a href="{{srch.get_absolute_url}}">
                    <div  class="column box ">
                        <p style="font-size: 14px;">{{srch.date}}</p>
                        <img style="width: 552px; height: 310px;" src="{{srch.image.url}}" alt="">
                        <h1 class="subtitle">{{srch.title}}</h1>
                        <p>{{srch.description}}</p>
                    </div> 
                </a>

            </div>
            {% endfor %}
        </div>
    </div>
</section>   


<nav style="margin-top: 20px;" class="pagination is-centered" role="navigation" aria-label="pagination">
    {% if page.has_previous %}
    <a href="{% url 'search_results' %}?page={{ page.previous_page_number }}" class="pagination-previous">Previous</a>
    {% endif %}
    <ul class="pagination-list">
      <li class="pagination-link">{{page.number}}</li>
    </ul>
    {% if page.has_next %}
    <a href="{% url 'search_results' %}?page={{ page.next_page_number }}" class="pagination-next">Next page</a>
    {% endif %}
</nav>


<footer id="footer" class="footer">
    <div id="container" class="container">
        <div class="column">
            <div class="footer_logo">
                <h1 style="font-family: 'Oswald', sans-serif;"><a href="{% url 'index' %}">NOX</a></h1>
            </div>
            <div class="footer_links">
                <a href=""><i id="facebook" class="fab fa-facebook-f"></i></a>
                <a href=""><i id="twitter" class="fab fa-twitter"></i></a>
                <a href=""><i id="instagram" class="fab fa-instagram"></i></a>
                <a href=""><i id="telegram" class="fab fa-telegram-plane"></i></a>
            </div>
            <a href="{% url 'index' %}"><H2>Home</H2></a>

        </div>
    </div>
</footer>



{% endblock %}