
body{
    background-color: #fff;
}

.header{
    height: 90px;
}

#container{
    max-width: 1200px;
}

.header_logo h1{
    color: #0BE6AF; 
    font-weight: 900; 
    font-size: 80px;
}

.header_logo h1 a{
    color: #0BE6AF;
    text-decoration: none;
    list-style-type: none;
}

.header_links{
    padding: 15px 0;
}

.header_links a i{
    background-color: #262626;
    width: 38px;
    height: 38px;
    font-size: 20px;
    margin-right: 10px;
    color: #fff;
    line-height: 38px;
    text-align: center;
    border-radius: 25px;
    transition: background .2s ease-in-out;
    
}

#btn{
    color: #fff;
    background-color: #0BE6AF;
    border-color: #0BE6AF;
    transition: background .2s ease-in-out , color .2s ease-in-out;
}

#btn:hover{
    background-color: #09dba7;
    border-color: #09dba7 ;
}

.header-categories{
    display: flex;
    padding: 10px 0;
    justify-content: center;
}

.header-categories p{
    margin-right: 25px;
}

.header-categories p a{
    color: #333333;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 14px;
    
}

.header-category:hover{
    border-bottom: 5px solid #0BE6AF ;
}

#footer{
    background-color: #111111;
    padding: 40px 0;
}

.footer_logo{
    max-width: 100%;
    height: 60px;
    transform: translate(-1em, -3.5em);
}

.footer_logo h1{
    text-align: center;
    font-weight: 900; 
    font-size: 80px;
    
}

.footer_logo h1 a{
    color: #0BE6AF;
    text-decoration: none;
    list-style-type: none;
}

.footer_links{
    max-width: 228px;
    margin: 5px auto;
    
    
}

.footer_links a i{
    background-color: #262626;
    width: 38px;
    height: 38px;
    font-size: 20px;
    margin-right: 10px;
    color: #fff;
    line-height: 38px;
    text-align: center;
    border-radius: 25px;
    transition: background .2s ease-in-out;
    
}

.footer-categories{
    margin-top: 25px;
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.footer-categories p{
    margin-right: 20px;
}

.footer-categories p a{
    color: #888888;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: color .2s ease-in-out;

}

.footer-category:hover{
    color: #fff;
}

.foot{
    background-color: black;
    padding: 30px 0;
}

/* Icons :hover */

#facebook:hover{
    background-color: #3b5997 ;
}

#twitter:hover{
    background-color: #00aced;
}

#instagram:hover{
    background-color: #F97539;
}

#telegram:hover{
    background-color: #312FA8;
}

/* Слайдер */
.slick-slider{}

/* Слайдер запущен */
.slick-slider.slick-initialized{}

/* Слайдер с точками */
.slick-slider.slick-dotted{}

/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}

/* Лента слайдов */
.slick-track{
    display: flex;
    align-items: flex-start;
}

/* Слайд */
.slick-slide{}

/* Слайд активный (показывается) */
.slick-slide.slick-active{}

/* Слайд основной */
.slick-slide.slick-current{}

/* Слайд по центру */
.slick-slide.slick-center{}

/* Клонированный слайд */
.slick-slide.slick-cloned{}

/* Стрелка */
.slick-arrow{
    border: 0;
}

/* Стрелка влево */
.slick-arrow.slick-prev{}

/* Стрелка вправо */
.slick-arrow.slick-next{}

/* Стрелка не активная */
.slick-arrow.slick-disabled{}

/* Точки (булиты) */
.slick-dots{}
.slick-dots li{}

/* Активная точка */
.slick-dots li.slick-active{}

/* Элемент точки */
.slick-dots li button{}

/* Конкретный слайдер */
.slider{
    position: relative;
    padding: 0px 60px;
}
.slider .slick-arrow{
    position:absolute;
    top: 50%;
    margin: -30px 0px 0px 0px;
    z-index: 10;
    font-size: 0;
    width: 30px;
    height: 60px;
}
.slider .slick-arrow.slick-prev{
    left: 0;
    background: url('../img/left.svg') 0 0 / 100% no-repeat;
}
.slider .slick-arrow.slick-next{
    right: 0;
    background: url('../img/right.svg') 0 0 / 100% no-repeat;
}

.slider .slick-dots{
    display: flex;
    align-items: center;
    justify-content: center ;
    margin-bottom: 40px ;
}
.slider .slick-dots li{
    list-style: none;
    margin: 0px 10px;
}
.slider .slick-dots button{
    font-size: 0;
    width: 12px;
    height: 12px;
    background-color: #333333;
    border-radius: 50%;
    border: 0px;
}

.slider .slick-dots li.slick-active button{
    font-size: 0;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #333333 ;
}

.slider__item{
    text-align: center;
}

.title{
    max-width: 800px;
    display: flex;
    flex-wrap: wrap; 
    position: absolute;
    transform: translate(1em, -6em);
}

.slider__item h2{
    text-align: left;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    font-size: 52px;
    font-weight: 400;
    max-width: 700px;
}

.slider__item p {
    max-width: 800px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    margin-top: 10px;
    text-align: left;
    font-weight: 500;
}

/* Columns news 2 */

.news-2box{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 100%;
    flex-wrap: wrap;
    border-radius: 0px;
}

#news2{
    max-width: 48%;
    margin: 0px;
    margin-top: 10px
}

#news2 div{
    border-radius: 0px;
}

#news2 h1{
    font-size: 28px;
    color: #222222;
    font-family: 'Oswald', sans-serif;
    text-align: left;
    font-weight: 500;
    max-width: 90%;
    margin: 0px 0px 10px 5px;
}

#news2 p{
    font-size: 18px;
    color: #555555;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-weight: 300;
    max-width: 90%;
    margin-left: 5px;
}





/* Columns news 3 */

.news-3box{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 100%;
    flex-wrap: wrap;
}

#news3{
    max-width: 32%;
    border-radius: 0px;
    margin: 0px;
    margin-top: 10px;
}

#news3 div{
    border-radius: 0px;
}

#news3 h1{
    font-size: 20px;
    color: #222222;
    font-family: 'Oswald', sans-serif;
    text-align: left;
    font-weight: 500;
    max-width: 90%;
    margin: 0px 0px 10px 5px;
}

#news3 p{
    font-size: 16px;
    color: #555555;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-weight: 300;
    max-width: 90%;
    margin-left: 5px;
}


